* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
form {
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
}
form h1 {
    margin-bottom: 20px;
}
.formfield {
    display: table;
    width: 100%;
    padding-bottom: 25px;
}
.formfield label,
.formfield .input-wrapper {
    display: table-cell;
    vertical-align: top;
}
.formfield label {
    width: 300px;
}

input {
    box-sizing: border-box;
}
input[type="text"] {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    border-radius: 3px;
}
input[type="number"] {
    width: 25%;
}
select {
    height: 30px;
}
.form-buttons * {
    margin-right: 10px;
}

.margin {
    margin: 10px;
}

/* https://www.w3schools.com/css/css_table.asp */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 10px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*May remove later.*/
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.table-list {
    list-style: none;
    padding: 2px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}


@media screen and (max-width: 1222px) {
    form {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 910px) {
    form {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .formfield {
        display: flex;
        flex-direction: column;
    }
    .form-buttons {
        display: flex;
        flex-direction: column;
    }
    .form-buttons * {
        margin-bottom: 5px;
        width: 100%;
    }
}