* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}

.formfield {
    display: table;
    width: 100%;
    padding-bottom: 25px;
}
.formfield label,
.formfield .input-wrapper {
    display: table-cell;
    vertical-align: top;
}
.formfield label {
    width: 100px;
}
.formfield .input-wrapper .table-form {
    width: 100%;
}